@media screen and (max-width: 660px) {
  .footer {
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 50px;
    position: fixed;
    position: absolute;
    background-color: #fff;
    border-top: 1px solid #000;
    padding-top: 5px;
    &-contents {
      width: 100%;
      display: flex;
      justify-content: space-around;
      .footer-link {
        width: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        &-text {
          font-size: 6px;
        }
        .footer-icon {
          font-size: 1.5em;
        }
      }
    }
  }

  .footer-wrapper {
    bottom: 0;
    left: 0;
    position: absolute;
    position: fixed;
    height: 50px;
  }
}