.footer
  .footer-contents
    = link_to '#', class: "footer-link" do
    = link_to '#', class: "footer-link" do
    = link_to '#', class: "footer-link" do
    = link_to '#', class: "footer-link" do

.footer-wrapper