@media screen and (max-width: 660px) {
  .top-contents {
    width: 100vw;
    height: 300px;
    background-image: url("top-image.jpg");
    background-size: cover;
    background-blend-mode: lighten;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .top-content {
      color :#fff;
      margin-bottom: 15px;
      text-align: center;
      width: 280px;
      line-height: 30px;
      background-color: #000;
      border-radius: 5px;
    }
  }

  .news {
    padding-top: 30px;
    width: 100vw;
    height: calc(100vh - 400px);
    background-color: #efefef;
    display: flex;
    flex-direction: column;
    align-items: center;
    &-title {
      margin-bottom: 20px;
      width: 90%;
      border-bottom: 2px solid #700000;
      &-text {
        font-size: 20px;
      }
    }
    &-contents {
      .news-address {
        margin-bottom: 15px;
      }
      .news-image {
        width: 300px;
        height: 160px;
        background-color: #fff;
      }
    }
  }
}